@font-face {font-display: swap; font-family: 'Titillium Web'; font-style: normal; font-weight: 300; src: url('/fonts/titillium-web-v17-latin-300.woff2') format('woff2');}
@font-face { font-display: swap; font-family: 'Titillium Web'; font-style: normal; font-weight: 600; src: url('/fonts/titillium-web-v17-latin-600.woff2') format('woff2');}
body {font-family: 'Titillium Web', sans-serif;}
.tab_body {border: 1px solid #dde3ec; clear: both;}
.tab_show {padding: 1.5em;}
.tab_hide {padding: 1.5em; display: none;}
.tab {position: relative; width: 100%; height: 3em; width: 100%;}
.tab_title {margin: 0; padding: 0; position: absolute; bottom: -1px; width: 100%;}
.tab_title span {width: 8em; float: left; padding: 7px 5px; margin: 1px 2px 0 0; text-align: center; font-size: 85%; color: #333; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.tab_title .tab_front {border: 1px solid #0075bf; border-bottom: none; background: #0075bf; padding-bottom: 8px; margin-top: 0; color: #fff;}
.tab_back {background-color: #dde3ec; border: 1px solid #dde3ec; border-bottom: none; cursor: pointer;}
.tab_back:hover {border-color: #dde3ec; background: #0075bf; color: #fff;}
.toolbar {position: absolute; top: 0; left: 45%; z-index: 89; display: inline-block}
.toolbar_img {vertical-align: top; cursor: pointer; width: 35px; height: 35px;}
.toolbar_img_on {vertical-align: top; cursor: pointer; width: 35px; height: 35px; border-bottom: 1px solid palevioletred}
.toolbar input {opacity: 0.6}
.hi5_dialog {border: 1px solid #222; padding: 2em; border-radius: 8px; background-color: white}
.h5-img-btn {vertical-align: middle; cursor: pointer; width: 2em; height: 2em}
.h5-img-btn-on {vertical-align: top; cursor: pointer; width: 2em; height: 2em; border-bottom: 1px solid palevioletred}
.h5-img-btn:hover {background-color: lightslategrey}
.h5-img-btn:active {background-color: darkgrey}
.table {font-weight: 300; background: #fff; width: 100%; border-collapse: collapse; text-align: left;}
.table th {font-size: 1em; font-weight: normal; color: #0075bf; padding: 10px 8px; border-bottom: 2px solid #005e99;}
.table td {border-bottom: 1px solid #ccc; color: #005e99; padding: 6px 8px;}
#hi5_notifer_all {position: fixed; bottom: 0; right: 6px; z-index: 9999; width: 324px;}
.hi5_notifer {padding: 8px 8px 25px 8px; background-color: #777; position: relative; opacity: 0.8; color: #fff; font: normal 13px "Titillium Web", sans-serif; border-radius: 3px; box-shadow: #999 0 0 12px; width: 96%;}
.hi5_notifer:hover {opacity: 1; box-shadow: #000 0 0 12px;}
.hi5_notifer_title {font-size: 1.1em; font-weight: bold; padding-top: 6px;}
.hi5_notifer_icon {float: left; width: 25px; height: 25px; margin-right: .3em; background: url(info.png) no-repeat top left; background-size: 25px 25px; }
.hi5_notifer_button_yes {position: absolute; width: 35px; height: 35px; margin-left: .3em; background: url(ok.png) no-repeat top left; cursor: pointer; right: 55px; bottom: 0;}
.hi5_notifer_button_no {position: absolute; width: 35px; height: 35px; margin-left: .3em; background: url(del.png) no-repeat top left; cursor: pointer; right: 12px; bottom: 0;}
.hi5_notifer_count {color: #FA6900; position: absolute; bottom: 2px; right: 2px;}
.pulse {animation-name: pulse; -webkit-animation-name: pulse; animation-duration: 3s; -webkit-animation-duration: 3s; animation-iteration-count: 6; -webkit-animation-iteration-count: 6; animation-timing-function: linear; -webkit-animation-timing-function: linear; visibility: visible !important;}
@keyframes pulse {
    0% {opacity: 0.1}
    50% {opacity: 1}
    100% {opacity: 0.1}
}
@-webkit-keyframes pulse {
    0% {opacity: 0.1}
    50% {opacity: 1}
    100% {opacity: 0.1}
}
.slideUp {animation-name: slideUp; -webkit-animation-name: slideUp; animation-duration: 1s; -webkit-animation-duration: 1s; animation-timing-function: ease; -webkit-animation-timing-function: ease; visibility: visible !important;}
@keyframes slideUp {
    0% {transform: translateY(100%);}
    50% {transform: translateY(-8%);}
    65% {transform: translateY(4%);}
    80% {transform: translateY(-4%);}
    95% {transform: translateY(2%);}
    100% {transform: translateY(0%);}
}

@-webkit-keyframes slideUp {
    0% {-webkit-transform: translateY(100%);}
    50% {-webkit-transform: translateY(-8%);}
    65% {-webkit-transform: translateY(4%);}
    80% {-webkit-transform: translateY(-4%);}
    95% {-webkit-transform: translateY(2%);}
    100% {-webkit-transform: translateY(0%);}
}
@keyframes frame-mouse-click {
    from {opacity: 1; -webkit-transform: scale(0.2, 0.2); transform: scale(0.2, 0.2);}
    to {opacity: 0; -webkit-transform: scale(1, 1); transform: scale(1, 1);}
}
.mouse-click-on {position: absolute; display: block; width: 60px; height: 60px; border-radius: 50%; border: 2px solid rgb(61, 122, 175); animation: frame-mouse-click 0.3s ease-out forwards; pointer-events: none;}
.mouse-click-off {position: absolute; display: none; width: 1px; height: 1px; pointer-events: none;}
input[type=text], input[type=number] {touch-action: none;}
#conf0 header {line-height: 2; border-bottom: 2px solid #dde3ec; padding-bottom: 20px;}
#conf0 input {padding: 6px 12px; box-sizing: border-box; font-size: 14px; border: 1px solid #dde3ec; border-radius: 5px; outline: none; resize: none; font-weight: 300; margin: 0 20px 0 10px;}
input[type=button] {padding: 8px 15px; box-sizing: border-box; font-size: 14px; border-radius: 5px; outline: none; resize: none; font-weight: 300; cursor: pointer; background: #0075bf; color: #fff; border: none;}
input[type=button]:hover, input[type=button]:focus {background: #005e99;}
.tab_show header input[type=button] {margin: 0 10px;}
.tab_show header input[type=button] + input[type=button] {margin-left: 0;}
.tab_show header {border-bottom: 2px solid #dde3ec; padding-bottom: 20px; margin-bottom: 20px;}
.tab_show form {font-size: 14px; font-weight: 300;}
.tab_show > form table {border-collapse: collapse;}
.tab_show > form tr {border-bottom: 1px solid #dde3ec;}
.tab_show > form tr:nth-child(odd) {background: #f5f5f5;}
.tab_show > form td {padding: 7px;}
.tab_show input, .tab_show textarea, #frmSettings input {padding: 6px 12px; box-sizing: border-box; font-size: 14px; border: 1px solid #dde3ec; border-radius: 5px; outline: none; resize: none; font-weight: 300;}
.tab_show input[type=button] {border: none;}
#frmSettings input[type=submit] {padding: 8px 15px; cursor: pointer; background: #0075bf; color: #fff; border: none; margin-top: 10px;}
#frmSettings input[type=submit]:hover, #frmSettings input[type=submit]:focus {background: #005e99;}
#servers, #users\.rows, #symlinks\.rows, #sessions\.rows, #serverGroups\.rows, #userGroups\.rows {font-size: 14px; font-weight: 300;}
#servers select {padding: 6px 12px; box-sizing: border-box; font-size: 14px; border: 1px solid #dde3ec; border-radius: 5px; outline: none; resize: none; font-weight: 300; margin: 0 20px 0 10px;}
#servers\.rows {margin-top: 20px;}
.hi5_dialog input[type=submit] {padding: 8px 15px; box-sizing: border-box; font-size: 14px; border-radius: 5px; outline: none; resize: none; font-weight: 300; cursor: pointer; background: #0075bf; color: #fff; border: none;}
.hi5_dialog input[type=submit]:hover, input[type=submit]:focus {background: #005e99;}
.hi5_dialog #server\.server {border-top-right-radius: 0; border-bottom-right-radius: 0;}
.hi5_dialog #server\.server + img {vertical-align: -11px !important;}
#conf_server {margin-left: 0 !important; min-width: 580px;}
#conf_server table {border-collapse: collapse;}
#conf_server tr {border-bottom: 1px solid #dde3ec;}
#conf_server tr:nth-child(odd) {background: #f5f5f5;}
#conf_server td {padding: 7px;}
#conf_server select {margin: 0;}
#users\.import {margin-left: 0; margin-top: 20px; margin-bottom: 10px;}
#adUser, #adPwd, #adDomain, #adOU, #adServer {margin-right: 10px;}
#users\.rows > tbody > tr > td:nth-child(2) {-webkit-text-security: disc;}
#adServers {margin-left: 10px;}
#sessions\.rows+div {font-family: monospace; margin: 1em 0px;}
#mutiMonitor {border: 1px solid #dde3ec; width: 100%; max-width: 80%; margin: 0 auto; font-size: 14px;}
#mutiMonitor tr {display: block; margin-bottom: 5px;}
#mutiMonitor #nextScr {background: none; padding: 0; color: #0075bf; text-decoration: underline; margin-left: 10px; font-weight: normal;}
#mutiMonitor #connectMultiMonitor {background: none; padding: 0; color: #0075bf; text-decoration: underline; font-weight: normal;}