.tab_body{border:1px solid #61D2D6;clear:both;}
.tab_show{padding:1.5em;}
.tab_hide{padding:1.5em;display:none;}
.tab{position:relative;width:100%;height:3em;width:100%;}
.tab_title{margin:0;padding:0;position:absolute;bottom:-1px;width:100%;}
.tab_title span{width:8em;float:left;padding:4px 0;margin:1px 2px 0 0;text-align:center;font-family:tahoma,verdana,sans-serif;
font-size:85%;color:#333;border-top-left-radius:5px;border-top-right-radius:5px;}
.tab_title .tab_front{border:1px solid #69D2E7;border-bottom:none;background:#F38630;padding-bottom:6px;margin-top:0;}
.tab_back{background-color:#FFFAE1;border:1px solid #61D2D6;border-bottom:none;cursor:pointer;}
.tab_back:hover{margin-top:0;border-color:#61D2D6;background:#F38630;padding-bottom:5px;}
/*
.toolbar{position:fixed;top:0;left:50%;z-index:89;width:150px;margin-left:-70px;outline:none}
*/
.toolbar{position:absolute;top:0;left:45%;z-index:89;display:inline-block}
.toolbar_img{ vertical-align:top;cursor:pointer;width:35px;height:35px;}
.toolbar_img_on{ vertical-align:top;cursor:pointer;width:35px;height:35px;border-bottom: 1px solid palevioletred}
.toolbar input{opacity:0.6}
.hi5_dialog{border:1px solid #222;padding:2em;border-radius:8px;background-color:white}
.h5-img-btn{ vertical-align:middle;cursor:pointer;width:2em;height:2em}
.h5-img-btn-on{ vertical-align:top;cursor:pointer;width:2em;height:2em;border-bottom: 1px solid palevioletred}
.h5-img-btn:hover{background-color: lightslategrey}
.h5-img-btn:active{background-color: darkgrey}

.table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 0.8em;
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.table th
{
	font-size: 1em;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.table td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
/*
.table tbody tr:hover td
{
	background: #d0dafd;
	color: #339;
}
*/

#hi5_notifer_all{
	position:fixed; bottom: 0; right: 6px; z-index:9999;width:324px;
}

.hi5_notifer{
	padding: 8px 8px 25px 8px;background-color: #777;position: relative;
	opacity: 0.8; color: #fff; font: normal 13px "Droid Sans", sans-serif;
    border-radius: 3px; box-shadow: #999 0 0 12px; width: 96%;
}

.hi5_notifer:hover{
	opacity:1;box-shadow:#000 0 0 12px;
}

.hi5_notifer_title{
	font-size:1.1em;font-weight:bold;padding-top:6px;
}

.hi5_notifer_icon{
	float:left;width:25px;height:25px;margin-right:.3em; 
	background: url(info.png) no-repeat top left;
	background-size: 25px 25px;
}

.hi5_notifer_button_yes{
	position: absolute;width:35px;height:35px;margin-left:.3em;
	background: url(ok.png) no-repeat top left;
	/*background-size: cover;*/
    cursor:pointer;
    right: 55px;
    bottom: 0;
}

.hi5_notifer_button_no{
	position: absolute;width:35px;height:35px;margin-left:.3em;
	background: url(del.png) no-repeat top left;
	/*background-size: cover;*/
    cursor:pointer;
    right: 12px;
    bottom: 0;
}

.hi5_notifer_count{
	color:#FA6900;position: absolute; bottom: 2px; right:2px;
}

.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;    
    animation-duration: 3s; 
    -webkit-animation-duration: 3s;

    animation-iteration-count: 6;
    -webkit-animation-iteration-count: 6;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    visibility: visible !important;         
}

@keyframes pulse { 
	0% { opacity: 0.1 }
	50% { opacity: 1 }
	100% { opacity: 0.1 }
} 

@-webkit-keyframes pulse { 
	0% { opacity: 0.1 }
	50% { opacity: 1 }
	100% { opacity: 0.1 }
} 

/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/
.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;    

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;

    visibility: visible !important;         
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}




@keyframes frame-mouse-click {
    from {
        opacity: 1;
        -webkit-transform: scale(0.2, 0.2);;
        transform: scale(0.2, 0.2);;
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.mouse-click-on{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(61, 122, 175);
    animation: frame-mouse-click  0.3s ease-out forwards;
    pointer-events: none;
}

.mouse-click-off{
    position: absolute;
    display: none;
    width: 1px;
    height: 1px;
    pointer-events: none;  
}

input[type=text], input[type=number] {
    touch-action: none;
}
