body, html {padding: 0; margin: 0; background: #f0f0f0; font-family: 'Roboto', sans-serif;}
.container {background-color: #fff; margin-top: 3em; width: 600px; margin: 3em auto 0 auto;}
.containerPrograms {width: 100%;}
.icon {width: calc(16.6666666% - 10px); height: auto; text-align: center; padding: 1em; vertical-align: middle; transition: all .3s; margin-bottom: 10px; float: left; background: #fff; box-sizing: border-box; margin-right: 10px;}
.icon:hover {background:#CCC;}
.icon img {width:48px; height:48px;}
.containerTop {width: 100%; float: left; background: #fff; box-sizing: border-box;}
.cTLeft {width: 40%; float: left; padding: 34px 2em; box-sizing: border-box;}
.cTLeft img {width: 100%; float: left; margin-top: 0px;}
.cTRight {width: 60%; float: left; box-sizing: border-box; background: #005a80; padding: 1em 2em; text-align: right; color: #fff;}
.containerCenter {width: 100%; float: left; background: #fff; padding: 2em; box-sizing: border-box; border-left: 3px solid #005a80; border-right: 3px solid #005a80; border-top: 3px solid #005a80;}
.containerBottom {width: 100%; float: left; background: #005a80; padding: 1em 2em; box-sizing: border-box;}
p {margin: 0; font-size: 14px;}
.containerBottom p {font-size: 12px; width: 100%; text-align: center; color: #fff;}
.containerBottom a {color: #fff;}
.cCInnerLeft {float: left; width: 70%; box-sizing: border-box; padding-right: 5%;}
.cCInnerRight {float: left; width: 30%; box-sizing: border-box; padding: 15px; background: #eee;}
.fieldWrapper {width: 100%; float: left; margin-bottom: 20px;}
.fieldWrapper:last-child {margin-bottom: 0px;}
.fieldWrapper p {width: 40%; float: left; text-align: right; box-sizing: border-box; padding-right: 10px; padding-top: 10px;}
.fieldWrapper input {width: 60%; float: left; box-sizing: border-box; padding: 10px; border: 1px solid #ccc; background: #fff; font-family: 'Roboto', sans-serif; font-size: 14px; transition: all .3s;}
.fieldWrapper input:focus {outline: none; border: 1px solid #005a80;}
.fieldWrapper input[type="submit"] {transition: all .3s; border: none; background: #005a80; color: #fff; cursor: pointer; float: right;}
.fieldWrapper input[type="submit"]:hover {color: #000; background: #ccc;}
.programsHeader {margin-bottom: 20px;}
.programsInner {position: absolute; left: 50%; top: 50%; width: 900px; transform: translate(-50%, -50%); margin: 0; padding: 1.5em; background: #005a80;}
.programsInner p {width: 100%; float: left; color: #fff; font-size: 18px; margin-bottom: 10px;}
.programsTopButtons {width: 100%; margin: 10px 0; float: left;}
.programsTopButtons input {-webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff; color: #000; padding: 8px 12px; margin-right: 5px; border: none; transition: all .3s; cursor: pointer; font-size: 14px;}
.programsTopButtons input:hover {background: #eee;}
#programs {width: 100%; float: left; margin-bottom: 20px;}
.floatLeft {float: left; width: 100%; color: #fff;}
.floatLeft a {color: #fff;}
#login {border: none !important; width: 100%; height: 100%; background: rgb(51,51,51);}